#auto_box {
  background-color: white;
  display: none;
  margin-top: 2px;
  position: absolute;
  z-index: 1;
}

#auto_box .items {
  color: #636363;
  list-style-type: none;
  margin-bottom: 0px;
  max-height: 125px;
  overflow: auto;
  padding-left: 0px;
}

#auto_box .items li {
  border-radius: 4px 20px 4px 20px;
  height: 23px;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#auto_box .items li:hover {
  background-color: #328FD1;
  color: white;
}
