.auto-content {
  background-color: white;
  margin-top: 2px;
  position: absolute;
  z-index: 1;
}

.items {
  color: #636363;
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
  max-height: 125px;
  overflow: auto;
}

li {
  border-radius: 4px 20px 4px 20px;
  height: 23px;
  /*line-height: 23px;*/
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
}

li:hover {
  background-color: #328FD1;
  color: white;
}
